---
layout: page
description: "联系QQ：1402440758"
---

{% for post in paginator.posts %}
<div class="post-preview">
    <a class="accesskeyx" href="{{ post.url | prepend: site.baseurl }}">
        <h2 class="post-title">
            {{ post.title }}
        </h2>
                    </a>
    <p class="post-meta">
                {{ post.date | date : "%Y-%m-%d %H:%M" }}
</p>
</div>

{% endfor %}

<!-- Pager -->
{% if paginator.total_pages > 1 %}
<ul class="pager">
    {% if paginator.previous_page %}
    <li class="previous">
        <a class="accesskeyx" href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&larr;上一页</a>
    </li>
    {% endif %}
    {% if paginator.next_page %}
    <li class="next">
        <a class="accesskeyx" href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">下一页&rarr;</a>
    </li>
    {% endif %}
</ul>
{% endif %}
