<!DOCTYPE html>
<html lang="zh_CN">

{% include head.html %}

<!-- hack iOS CSS :active style -->
<body ontouchstart="">

    {% include nav.html %}

    {{ content }}

    {% include footer.html %}
	
<!-- Migrate from head to bottom, no longer block render and still work -->

</body>

</html>
